@use '@angular/material' as mat;
@use 'shared/styles/variables.scss' as *;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$front-sgii-primary: mat.define-palette(mat.$indigo-palette);
$front-sgii-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$front-sgii-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$front-sgii-theme: mat.define-light-theme((
  color: (
    primary: $front-sgii-primary,
    accent: $front-sgii-accent,
    warn: $front-sgii-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($front-sgii-theme);


@import './app/shared/buttons/button.scss';

body {
    font-family: $font-family;
    background-color: $bg-color;
    box-sizing: border-box !important;
    height: 100vh;
    margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}


button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
