@import '../../../../../shared/styles/variables.scss';

.card-header {
    display: flex;
    justify-content: space-between;

    h1 {
        margin: 0;
    }

    .buttons {
        display: flex;
        gap: 8px;

        &__export {
            background-color: $export-color;
        }
    }
}
  