<!-- table-striped.component.html -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Define other columns dynamically -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.labelInDb">
      <th mat-header-cell *matHeaderCellDef> {{ column.name | uppercase }} </th>
      <td mat-cell *matCellDef="let element"> 
        <div class="" *ngIf="column.type === columnDataTypes.Date">
          {{ element[column.labelInDb] | date: 'dd/MM/yyyy' }}   
        </div>
        <div class="" *ngIf="column.type === columnDataTypes.Text">
          {{ element[column.labelInDb] }}   
        </div>
        <div class="" *ngIf="column.type === columnDataTypes.Currency">
          {{ element[column.labelInDb] | currency:'BRL' }}   
        </div>
      </td>
    </ng-container>
  
    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> {{ 'Ações' | uppercase }} </th>
      <td mat-cell *matCellDef="let element">
        <!-- Projected template with row context -->
        <ng-container *ngIf="actionTemplate">
          <ng-container *ngTemplateOutlet="actionTemplate; context: { $implicit: element }"></ng-container>
        </ng-container>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnStringArray.concat(['actions'])"></tr>
    <tr mat-row *matRowDef="let row; columns: columnStringArray.concat(['actions']);"></tr>
  
  </table>

  <custom-paginator
    [paginationData]="pagination"
    (paginationAction)="paginationChanged.emit($event)"
  >
  </custom-paginator>