<div class="card">
    <div class="card__header">
        <card-header 
            [title]="'LISTAGEM DE DESAFIOS DE PROSPECÇÃO'"
            [breadcrumbItems]="breadcrumbItems" 
            (buttonNewClicked)="navigateToCreation()"
            [showExportButton]="true"
            [showCreateButton]="true"
        >
        </card-header>
    </div>
    <div class="card__search">
        <simple-input [(ngModel)]="termFilter" [placeholder]="'Digite o título do desafio'" [leftIconClass]="'search'" (ngModelChange)="searchData()"></simple-input>
    </div>
    <div class="card__table">
        <table-striped 
            [tableItems]="reunioes" 
            [displayedColumns]="columns" 
            [actionTemplate]="actionButtonsTemplate" 
            (paginationChanged)="paginateAction($event)"
            [pagination]="pagination"
        >
        </table-striped>
        
        <ng-template #actionButtonsTemplate let-desafio>
            <edit-button (clicked)="navigateToEdit(desafio)"></edit-button>
            <delete-button (clicked)="deleteElement(desafio)"></delete-button>
        </ng-template>
    </div>
</div>