<div class="card">
    <div class="card__header">
        <card-header [title]="pageTitle" [breadcrumbItems]="breadcrumbItems" [showCreateButton]="false"></card-header>
    </div>

    <div class="card__fields">
        <div class="row mb-4">
            <div class="col-md-4">
                <label>Email</label>
                <simple-input placeholder="Digite o email" [(ngModel)]="desafio.Email"></simple-input>
            </div>
            <div class="col-md-4">
                <label> Núcleo Incubador </label>
                <select [(ngModel)]="desafio.IdNucleoIncubador">
                    <option [value]="null" disabled> Escolha o núcleo </option>
                    <option *ngFor="let nucleo of nucleos" [value]="nucleo.Id">{{nucleo.Descricao}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Título do Desafio da Inovação</label>
                <simple-input placeholder="Digite o tema" [(ngModel)]="desafio.Titulo"></simple-input>
            </div>
            <div class="col-md-2">
                <label>
                    Data do Início
                </label>
                 <input mask="00/00/0000 00:00" placeholder="dd/mm/aaaa hh:mm" [(ngModel)]="desafio.DataInicioStr">
            </div>
            <div class="col-md-2">
                <label>
                    Data Final da ação
                </label>
                 <input mask="00/00/0000 00:00" placeholder="dd/mm/aaaa hh:mm" [(ngModel)]="desafio.DataFinalStr">
            </div>
            <div class="col-md-4">
                <label>
                    Local
                </label>
                 <input placeholder="Digite o local" [(ngModel)]="desafio.Local">
            </div>
            <div class="col-md-4">
                <label>
                    Perfil do público-alvo
                </label>
                 <input placeholder="Digite o perfil" [(ngModel)]="desafio.Perfil">
            </div>
            <div class="col-md-4">
                <label>
                    Número de oportunidades prospectadas na ação
                </label>
                 <input placeholder="Digite o perfil" [(ngModel)]="desafio.NumeroOportunidades">
            </div>
            <div class="col-md-6" style="display: flex; flex-direction: column;">
                <label>
                    Observações
                </label>
                <span style="font-style: italic; font-size: 14px;" class="mb-3">
                    Esta resposta não é obrigatória. Caso haja outras informações que sejam importantes para o registro desta ação, inclua nesta resposta.
                </span>
                <textarea rows="4" [(ngModel)]="desafio.Observacoes"></textarea>
            </div>
        </div>

        <!-- Responsaveis -->
        <div class="row mb-4">
            <div class="col">
                <h3> Digite o(s) nome(s) do(s) participante(s) da ação </h3>
                <span style="font-style: italic; font-size: 14px;" class="mb-3">
                    Inclua aqui a lista dos participantes da ação. Nesta lista, identifique os proponentes principais da ideia ou proposta prospectada e as formas de contato (telefone ou e-mail).
                </span>
                
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <simple-input placeholder="Digite o nome" (keydown.enter)="addParticipante($event)"></simple-input>
                    </div>
                </div>
                <div class="listbox-container">
                    <mat-chip-listbox>
                        <mat-chip *ngFor="let participante of desafio.ParticipanteDesafioInovacaos" >
                            {{ participante }}
                            <button matChipRemove aria-label="Remove orange" (click)="removeParticipante(participante)">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                    </mat-chip-listbox>
                </div>
            </div>
        </div>

        <!-- Ideias -->
        <div class="row mb-4">
            <div class="col">
                <h3> Digite o(s) nome(s) do(s) participante(s) da ação </h3>
                <span style="font-style: italic; font-size: 14px;" class="mb-3">
                    Inclua aqui a lista dos participantes da ação. Nesta lista, identifique os proponentes principais da ideia ou proposta prospectada e as formas de contato (telefone ou e-mail).
                </span>
                
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <simple-input placeholder="Digite o nome" (keydown.enter)="addIdeia($event)"></simple-input>
                    </div>
                </div>
                <div class="listbox-container">
                    <mat-chip-listbox>
                        <mat-chip *ngFor="let participante of desafio.ParticipanteDesafioInovacaos" >
                            {{ participante }}
                            <button matChipRemove aria-label="Remove orange" (click)="removeIdeia(participante)">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                    </mat-chip-listbox>
                </div>
            </div>
        </div>
    </div>

    
    <div class="card__footer">
        <button secondary-button routerLink="/prospeccao/desafio"> Voltar </button>
        <button primary-button> Salvar </button>
    </div>
</div>