<div class="card">
    <div class="card__header">
        <card-header 
            [title]="'LISTAGEM DE AÇÕES DE SENSIBILIZAÇÃO'" 
            [breadcrumbItems]="breadcrumbItems" 
            (buttonNewClicked)="navigateToCreation()"
            (exportButtonClicked)="exportData()"
            [showExportButton]="true"
            [showCreateButton]="true"
        >
        </card-header>
    </div>
    <div class="card__search">
        <simple-input [(ngModel)]="termFilter" [placeholder]="'Digite o tema da sensibilização'" [leftIconClass]="'search'" (ngModelChange)="searchData()"></simple-input>
    </div>
    <div class="card__table">
        <table-striped 
            [tableItems]="sensibilizacoes" 
            [displayedColumns]="columns" 
            [actionTemplate]="actionButtonsTemplate" 
            (paginationChanged)="paginateAction($event)"
            [pagination]="pagination"
        >
        </table-striped>
        
        <ng-template #actionButtonsTemplate let-sensibilizacao>
            <edit-button (clicked)="navigateToEdit(sensibilizacao)"></edit-button>
            <delete-button (clicked)="deleteElement(sensibilizacao)"></delete-button>
        </ng-template>
    </div>
</div>