<div class="card">
    <div class="card__header">
        <card-header 
            [title]="'LISTAGEM DE REUNIÕES DE PROSPECÇÃO'"
            [breadcrumbItems]="breadcrumbItems" 
            (buttonNewClicked)="navigateToCreation()"
            [showExportButton]="true"
            [showCreateButton]="true"
        >
        </card-header>
    </div>
    <div class="card__search">
        <simple-input [(ngModel)]="termFilter" [placeholder]="'Digite o tema da reunião'" [leftIconClass]="'search'" (ngModelChange)="searchData()"></simple-input>
    </div>
    <div class="card__table">
        <table-striped 
            [tableItems]="reunioes" 
            [displayedColumns]="columns" 
            [actionTemplate]="actionButtonsTemplate" 
            (paginationChanged)="paginateAction($event)"
            [pagination]="pagination"
        >
        </table-striped>
        
        <ng-template #actionButtonsTemplate let-reuniao>
            <edit-button (clicked)="navigateToEdit(reuniao)"></edit-button>
            <delete-button (clicked)="deleteElement(reuniao)"></delete-button>
        </ng-template>
    </div>
</div>