<div class="card">
    <div class="card__header">
        <card-header 
            [title]="'LISTAGEM DE REUNIÕES DE PROSPECÇÃO'"
            [breadcrumbItems]="breadcrumbItems" 
            (buttonNewClicked)="navigateToCreation()"
            [showExportButton]="true"
            [showCreateButton]="true"
        >
        </card-header>
    </div>
    <div class="card__search">
        <simple-input [placeholder]="'Digite o nome da ação'" [leftIconClass]="'search'"></simple-input>
    </div>
    <div class="card__table">
        <table-striped [tableItems]="users" [displayedColumns]="columns" [actionTemplate]="actionButtonsTemplate">
        </table-striped>
        
        <ng-template #actionButtonsTemplate let-user>
            <edit-button (clicked)="navigateToEdit(user)"></edit-button>
        </ng-template>
    </div>
</div>