.login-container {
    width: 380px;
    background-color: #fff;
    border-radius: 15px;
    margin: auto;
    padding: 26px 58px 60px 58px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    img {
        max-width: 258px;
        margin: auto;
    }

    hr{
        width: 100%;
        border: 1px solid #2d2d2d;
        margin-top: 35px;
    }


    &__controls {

        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 35px;

        &-title {
            font-size: 24px;
        }

        &>*:not(button){
            margin-bottom: 35px;
        }

        a{
            font-style: italic;
            line-height: 24px;
            font-size: 16px;
        }

    }
}