<div class="login-container">
    <img src="../../../assets/img/incubadora_full_logo.jpg" alt="">
    <hr>

    
    <div class="login-container__controls">
        <div class="login-container__controls-title"> ACESSE O SISTEMA </div>
        <simple-input placeholder="Usuário" [(ngModel)]="auth.username" ></simple-input>
        <simple-input placeholder="Senha" [(ngModel)]="auth.password" [type]="'password'" ></simple-input>

        <button type="button" primary-button (click)="logIntoSystem()" type="submit" class="login-container__controls-submit"> {{ 'Entrar' | uppercase }}</button>
        <a href="#"> Esqueci minha senha </a>
    </div>
    
</div>