.input-container {
  position: relative;

  .custom-input input {
    width: 100%;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    background-color: #F7F7FD;
    font-family: 'Nunito Sans';
    font-size: 16px;
    line-height: 22px;
    box-sizing: border-box;

    // max-width: 340px;
    max-width: 100%;
  
    &::placeholder {
      font-style: italic;
    }
  }

  i {
    position: absolute;
    font-size: 24px;
    margin-top: 5px;
    margin-left: 16px;
  }

}
  
.p-left-icon {
  padding-left: 54px !important;
}