<div class="breadcrumb">
    <button (click)="navigateToRoute('bem-vindo')">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_8_1697)">
            <path d="M1.75 5.24999L7 1.16666L12.25 5.24999V11.6667C12.25 11.9761 12.1271 12.2728 11.9083 12.4916C11.6895 12.7104 11.3928 12.8333 11.0833 12.8333H2.91667C2.60725 12.8333 2.3105 12.7104 2.09171 12.4916C1.87292 12.2728 1.75 11.9761 1.75 11.6667V5.24999Z" stroke="#918D8D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5.25 12.8333V7H8.75V12.8333" stroke="#918D8D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_8_1697">
            <rect width="14" height="14" fill="white"/>
            </clipPath>
            </defs>
        </svg>
    </button>
    <i class="fa fa-angle-right"></i>
    <div class="" *ngFor="let item of breadcrumbItems; let itemCount = index">
        <a (click)="navigateToRoute(item.route)" class="route-link"> {{ item.name }} </a>
        <i class="fa fa-angle-right" *ngIf="itemCount != (breadcrumbItems?.length - 1)"></i>
    </div>
    
</div>